

.main {
  height: 100vh;
  width: 100vw;
  background-image: url('https://lh3.googleusercontent.com/proxy/pNz1HJ0tsIapAnq_UfBs3--XCVKbDa3PNIKDVi-nETU-zTCc-shaM6z8d28tb1N-w3RECPlzJY4V1ghnv2jkcF921qU3xUXBNgaP02EF0u_spGk61akbaW4Z-XcxgrIrfH2t');

}

.title {
  text-align: center;
  width: 100%;
  padding: 2%;
  background-color: #91d5ff;
  color: #efefef;
}

.bottom {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}