@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat:wght@500&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.navigation {
  background-color: #dee2e6;
  color:black;
}

h1,
h2,
h3 {
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 30px 0
}
h4{
  text-decoration: none;
}

.CodeMirror {
  min-height: 100%
}

p{
  text-decoration: none;
}

a{
  font-family: 'Dosis', sans-serif;
  font-size: 1.3em;
  color:rgb(105, 149, 243);
  text-decoration: none;
  padding: 20px;
}

a:hover {
  
  text-decoration: none;
}

img {
  width: 100%;
}

.logo {
  width: 35px;
}

.titular {
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 30px 0;
}

.hr-principal {
  background-color: rgb(255, 255, 255);
  width: 35%;
}

.hr-home {
  background-color: rgb(255, 255, 255);
  width: 35%;
  margin-bottom: 5%;
}

.hr-secondary {
  margin-bottom: 30px;
  background-color: rgb(255, 255, 255);
  width: 45%;
  text-align: center;
}

.footer {
  margin-top: 450px;
  color:rgb(105, 149, 243);
}

.start {
  text-align: center;
  margin: 20px 0;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 170px;
}

.botton {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid white;
  outline: none;
  transition: 1s ease-in-out;
  padding: 10px;
}

.botton:hover {
  transition: .5s ease-in-out;
  background: gray;
}

.botton span {
  color: white;
  font-size: 20px;
  font-weight: 100;
}

.CodeMirror {
  border: 1px solid #eee;
}

.screen-codemirror {
  margin: 15px 30px;
}

.screen-misc {
  margin-top: 15px;
}

.red-chat:hover {
  transition: .5s ease-in-out;
  background: rgb(255, 60, 60);
}

.blue:hover {
  transition: .5s ease-in-out;
  background: rgb(105, 138, 245);
  color: black
}

.react-codemirror2 {
  height: 85vh;
}

.img-form{
  width: 80px;
}

.icons{
  width: 40px;
}

.red{
  color:red;
  margin-right: 10px;
}
.imgNavbar{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.logoBlanco{
  width: 60px;
}

.logo-footer{
  width: 80px;
}

.remove-button{
 width: 15px;
 height: 15px;
}

.trofeo{
  color: gold;
}

.img-profile{
  width: 300px;
  height:300px;
}
.trash {
  margin-top:  28.5px;
  width: 30px;

}
.trash:hover {
  color: red;
}
button:hover {
  text-decoration: none !important ; 
}
.cardCode {
  width: auto;
  height: 300px;
}

.error{
 background-color: rgb(243, 66, 66);
 border: solid 2px rgb(59, 4, 4);
 text-align: center;
 margin-bottom: 30px;
 padding: 10px 20px;

}

.botton-call{
  margin-bottom: 50px;
}

.text-home{
  margin-right: 15%;
  margin-bottom:8% ;
  font-family: 'Montserrat', sans-serif;
}

.nav-lateral{
  position: sticky;
  top:150px;
}

